################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpotTrains/bin/Debug/netcoreapp3.1
/SpotTrains/obj/Debug/netcoreapp3.1
/SpotTrains/obj/Release/netcoreapp3.1
/SpotTrains/obj
/.vs/slnx.sqlite
